@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    color: #222;
}

.navbar {
    padding: 15px;
}

.logo {
    width: 200px;
    height: auto;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link:link,
.navbar-nav .nav-link:visited {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding-top: 12px;
    font-weight: 600;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    font-weight: 700;
    color: #174190;
}

.navbar-nav .nav-link-btn:link,
.navbar-nav .nav-link-btn:visited {
    padding: 9px 10px;
    font-size: 18px;
    background-color: #174190;
    border-radius: 18px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.navbar-nav .nav-link-btn:hover {
    background-color: #055cff;
    text-decoration: none;
}

header .search-bar-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 12px;
    background: #174190;
    border-top: 2px solid #174190;
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
    width: 100%;
    padding: 10px;
    text-transform: none;
    color: #333;
    font-size: 18px;
    border-radius: 9px;
}

header .search-bar-container label {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-left: 20px;
}

header .search-bar-container label:hover {
    color: #055cff;
}

.banner {
    padding: 50px 0;
    padding-bottom: 100px;
}

.banner-left {
    gap: 40px;
}

.heading-txt {
    font-size: 20px;
    color: #525050;
    font-weight: 700;
}

.banner-main-heading {
    font-size: 34px;
    font-weight: 900;
}

.countdown-container {
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    color: #174190;
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    /* flex-direction: column; */
}

@media (max-width: 767px) {
    .countdown-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.countdown-item {
    text-align: center;
}

.space {
    margin-right: 25px;
    margin-left: 20px;
}

.date {
    font-size: 20px;
    font-weight: 400;
}

.count {
    display: block;
    font-size: 34px;
}

.banner-img {
    max-width: 100%;
    height: auto;
}

.register-btn {
    margin-top: 50px;
}

.banner-btn {
    font-size: 24px;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 4
}


.banner-btn:hover {
    background-color: rgb(49, 170, 49);
}


/**/


.counter{
    padding-bottom: 100px;
    padding-top: 50px;
}

.box-container {
    display: flex;
    gap: 20px;
}

.first-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #055cff, #174190);
    color: #fff;
    width: 350px;
    height: auto;
    border-radius: 9px;
    padding: 20px;   
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.icon-img{
    width: 90px;
    height: 90px;
    border-radius: 9px;
    margin-bottom: 20px;
}

.poll-icon{
    width: 50px;
}

.about-web-txt{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 16px;
}

.first-box-heading {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;

}

.first-box-txt {
    font-size: 16px;
    line-height: 0.5; /* Adjust this value as needed */
}

.second-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    border-radius: 9px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}

.second-box-heading{
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px;
 
}

.third-box{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding: 60px;
    width: 750px;
    border-radius: 9px;
}


.fade-up {
    animation-name: fadeUp;
    animation-duration: 1s;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/**/
.discussion-section-heading {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 30px;
    position: relative; 
    padding-bottom: 15px; 
}

.discussion-section-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px; 
    height: 5px;
    background-color: #174190 ;
}


.discussion-txt{
    font-size: 20px;
}

.discussion-txt i {
    color: #174190; 
    width: 24px; 
    height: 24px; 
    font-weight: 800;
}

/**/

.last-container{
    background-color: #f8f9fa;
    padding-top: 30px;
}

.about-right {
    margin-top: 20px; /* Adjust the margin as needed */
}

.about-txt{
    font-size: 18px;
    margin-left: 30px;
    line-height: 1.5;
}

.about-img{
    width: 500px ;
    height: 400x;
}

/**/
.last-section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust gap as needed */
    margin-right: 0; /* Remove default margin-right */
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: none;
    position: absolute;
    top: -30px; /* Adjust positioning as needed */
    left: 10px; /* Adjust positioning as needed */
    color: #055cff;
    pointer-events: none; /* Prevent label from being clickable */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.form-group input:focus + label {
    display: block;
}

.form-group input {
    border: none;
    border-bottom: 2px solid rgb(211, 210, 210);
    margin-top: 30px;
}

.form-group input:hover {
    border-bottom: 2px solid #055cff;
}

.form-check-label {
    padding-left: 0;
}

.form-container {
    padding: 40px;
    width: 100%;
    max-width: 400px; /* Restrict the maximum width */
    height: auto;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .last-section {
        margin-left: 0;
        margin-right: 0;
    }

    .form-container{
        align-items: center;
        justify-content: center;   
    }

    .form-container {
        padding: 20px;
    }
}

.submit-btn {
    padding: 10px 40px; /* Adjust padding as needed */
    margin-top: 20px;
    display: inline-block;
    background-color: #174190;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.submit-btn:hover {
    background-color: #0e2d5d; /* Darker shade on hover */
}

/**/

.last-heading-section{
    background-color: #0e2d5d;
}

.custom-padding {
    padding-left: 100px;
    padding-right: 100px;
}

.last-heading{
    font-size: 24px;
    color: #fff;
}

/**/

footer{
    padding: 50px 0;
    padding-bottom: 0%;
}

.footer-first-section{
    display: flex;
    justify-content: space-between;
}

.footer-div{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-heading{
    color: #0e2d5d;
    font-weight: 600;
}

.footer-link:link,.footer-link:visited{
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.footer-link:hover{
    color: #0e2d5d;
    font-weight: 700;
    text-decoration: line;
}

.footer-details{
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 9px;
}

.footer-h{
    font-size: 20px;
    font-weight: 800;
    margin-top: 15px;
    color: #0e2d5d;
}

.flag{
    width: 24px;
    height: 18px;
}

.footer-txt{
    font-size: 16px;
}

.line{
    border: 2px solid grey;
}

.footer-last-txt{
    color: #868484;
}
